html, body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  box-sizing: border-box;
}

.area {
  padding-top: 134px;
}

/* BURGUER STYLES */



/* HEADER */
.header {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  padding: 0 1em;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.logo h1 {
  font-weight: 700;
}

.saldo {
  background: #77B75A;
  color: #fff;
  position: fixed;
  top: 100px;
  left: 0;
  padding: 1em;
  border-radius: 0 0 8px 0;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
  z-index: 10;
  animation: slide 1s 1;
  transition: translateY cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes slide {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.focus-bg {
  color: #77b75a !important;
}



.navbar-buttons {
  margin-right: 5em;
}

.navbar-link{
  color: #000;
  font-weight: bold;
  position:relative;
  text-decoration:none;
  display:inline-block;
  margin-right: 1.5em;
  cursor: pointer;
}

.navbar-link:hover {
  color: #77B75A;
}

.navbar-link:after {
  display:block;
  content: '';
  border-radius: 8px;
  border-bottom: solid 3px #000;  
  transform: scaleX(0);  
  transition: transform 350ms ease-in-out;
  transform-origin:100% 50%
}

.navbar-link:active:after,
.navbar-link:focus:after,
.navbar-link:hover:after { 
  transform: scaleX(1);
  transform-origin:0 50%;
}
/* ------- */

/* HOME */

.home-title {
  position: relative;
  font-weight: 900;
}

.home-title:before {
  content: "Gama Academy";
  position: absolute;
  bottom: 0;
  left: 50%;
  font-size: 60px;
  width: 100%;
  opacity: 0.1;
  transition: 0.2s ease-in-out;
  transform: translateX(-50%);
}

.home-card:hover .home-title:before {
  color: #77B75A;
  opacity: 1;
  bottom: 32px;
}

@media screen and (max-width: 1242px) {
  .home-title:before {
    font-size: 50px;
  }
}

/* --- */

.isLogged {
  display: none;
}

.footer-component {
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 100px;
  padding: 1em;
  clip-path: polygon(49% 45%, 100% 0, 100% 100%, 0 100%, 0 0);
} 

.footer-component-relative {
  position: relative;
  clip-path: polygon(49% 45%, 100% 0, 100% 100%, 0 100%, 0 0);
}

.register-button {
  position: relative;
}

.register-button:before {
  background: #000;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* border: 4px solid #000; */
  border-radius: 4px;
  z-index: -1;
  animation: enlarge 2s infinite;
}

@keyframes enlarge {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* DASHBOARD */
.payments-container {
  flex-wrap: wrap;
}

/* cards */
.home-card {
  position:relative !important;
}

.home-card span {
  background: #212529;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: 0.4s ease-in-out;
  z-index: 5;
  transition: width 1s;
  transition-timing-function: cubic-bezier(0.1, 1.0, 0.5);
  overflow: hidden;
}

.home-card:hover span {
  width: 100%;
}

.gama-academy-banner {
  color: greenyellow;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gama-academy-banner h2 {
  width: 200px;
}

.card {
  transition: 0.2s ease-in-out;
}

.card:hover {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 100%, rgba(207,207,207,1) 100%);
}


/* Navbar */

/* CREDIT CARDS SECTION */
.credit-cards--section {
  background: #f9f9f9;
  padding: 2em 0;
  margin-top: 100px;
}

/* CREDIT CARD STYLES */
.creditCard-body {
  background: transparent;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 172px;
  border-radius: 16px;
  perspective: 1000px;
}

.creditCard-inner {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}

.creditCard-body:hover .creditCard-inner {
  transform: rotateY(180deg);
}

.creditCard-front, .creditCard-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.creditCard-front {
  padding: 1em;
}

.creditCard-back {
  transform: rotateY(180deg);
}

.creditCard-title {
  color: #fff;
}

.creditCard-middle {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 3em;
}

.creditCard-chip {
  position: relative;
  background: linear-gradient(90deg, rgba(212,170,63,1) 0%, rgba(203,145,64,1) 100%, rgba(208,166,40,1) 100%);
  width: 50px;
  height: 30px;
  margin: 0 0 0 1em;
  border: 0.5px solid rgb(49, 49, 49);
  border-radius: 8px;
}

.creditCard-chip:before {
  background: transparent;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 30%;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  transform: translate(-50%, -50%);
}

.creditCard-chip:after {
  background: transparent;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  height: 100%;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  transform: translate(-50%, -50%);
}

.creditCard-circuit {
  background:  rgba(203,145,64,1);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 55%;
  height: 55%;
  border: 1px solid #000;
  border-radius: 4px;
  z-index: 5;
  transform: translate(-50%, -50%);
}

.creditCard-text {
  color: #fff;
}

.creditCard-back--line {
  background: rgb(41, 41, 41);
  width: 100%;
  height: 32px;
  z-index: 2;
  margin-top: 1em;
}

.creditCard-back--title {
  color: #fff;
}


.gold-text {
  color: #a17434;
}

.silver-text {
  color: silver;
}

.light-bg {
  background: #c4c4c4;
}